body{
  background-position-y: 4vh;
  background-size: cover;
  background-image: url("https://wallpaperaccess.com/full/217099.png");
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
}
.App {
  position: relative;
  top: -1vh;
  color: white;
  margin: 0px;
  width: 100vw;
}



/* Login and Signup styling */
.login_container {
  color: black;
  background-color: white;
  width: 80vw;
  height: 60vh;
  margin: 0 auto;
  text-align: center;
}

.login_container button{
  width: 20vw;
  margin: 1vh 0;
  transition: ease-in-out 0.5s;
}

.login_container button:hover{
  width: 23vw;
}

.login_container input{
  text-align: center;
}

.login_content{
  width: 40vw;
  margin: 0 auto;
}

.login_content h3{
  float: left;
  margin-left: 1vw ;
}

/* Login and Signup end */

/* begin display message */
.message{
  position: relative;
  width: 80vw;
  height: 5vh;
  margin: 0 auto;
  text-align: center;
}

.fade {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1; 
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation { 
  0% { 
    opacity: 0; 
  } 
  50% {
    opacity: 1;
  }
  100% { 
    opacity: 0; 
  } 
}

/* end display message */


/*champion info page */

.champion_main_container{
  position: relative;
  top: -5vh;
  background-color: rgba(0, 0, 0, 0.8);
}

/* header */
.champion_header{
  margin: 0 auto;
  text-align: center;
}

.champion_header img {
  width: 80%;
  height: 80%;
}

.champion_info{
  position: relative;
  top: -20vh;
  background-color: rgba(0, 0, 0, 0.3);
}

.champion_info h3{
  position: relative;
  font-size: 3vh;
  word-spacing: 7px;
  font-family: Times, Times New Roman, serif;
  margin-bottom: 7vh;
}

.champion_info .champion_name {
  font-size: 5vw;
  position: relative;
  font-family: Blippo, fantasy;
}

.champion_info .champion_name::before,
.champion_info .champion_name::after {
    display: inline-block;
    content: "";
    border-top: .2rem solid white;
    margin: 0 2rem;
    transform: translateY(-1rem);
    width: 22vw
}

.champion_info_icons{
  width: 5vw;
  height: 9vh;
  display: inline-block;
  margin: 0 1vw;
  border: 1px solid white;
  background-color: black;
  border-radius: 7px;
  position: relative;
  bottom: 2vh;
}

.champion_info_icons h3{
  position: relative;
  font-size: 1.5vh;
  top: -30px
}

.item_container{
  position: relative;
  margin-top: 2vh;
}

.item_container .item_main_col{
  width: 40vw;
  display: inline-block;
  font-family: Times, Times New Roman, serif;
}

.champion_partype{
  font-size: 1.5vw;
}

.item_col{
  display: inline-block;
  margin: 0 1vw;
  width: 15vw;
  font-size: 15px;
}

.item_col p {
  float: left;
  margin-left: 0.5vw;
}

.champion_blurd{
  position: relative;
  bottom: 3vh;
  font-size: 18px;
  border-left: 0.2px solid white;
  font-size: 22px;
  padding-left: 2vw;
}

/* end header */

/* body */
.champion_body{
  width: 95vw;
  margin: 0 auto;
  font-family: Times, Times New Roman, serif;
  font-size: 20px;
}

.champion_info_container{
  margin-bottom: 5vh;
}

.champion_info_container p{
  margin-left: 5vw;
}

.champion_info_container label{
  margin: 0 3vw 2vh 3vw;
  padding: 3px;
  border-bottom: 1px solid white;
}


.row{
  width: 90vw;
  margin: 0 auto;
}

.champion_ability_title, .champion_spotlight_title , .champion_info_title , .champion_skins_title{
  font-size: 4vh;
  position: relative;
  left: 2vw;
  font-family: Times, Times New Roman, serif;
}

.champion_skin_title{
  font-size: 6vh;
  position: relative;
  left: 2vw;
  font-family: Blippo, fantasy;
}

.champion_ability_title::before,
.champion_spotlight_title::before,
.champion_info_title::before,
.champion_skin_title::before,
.champion_skin_title::after,
.champion_skins_title::before,
.champion_skins_title::after,
.champion_info_title::after,
.champion_spotlight_title::after,
.champion_ability_title::after {
    display: inline-block;
    content: "";
    border-top: .1rem solid white;
    width: 4rem;
    margin: 0 1rem;
    transform: translateY(-1rem);
}

.champion_ability_title::after{
  width: 16vw;
}

.champion_ability_title::before {
  width: 2vw;
}

.champion_spotlight_title::before{
  width: 13vw;
}

.champion_spotlight_title::after{
  width: 2vw;
}

.champion_info_title::before{
  width: 3vw;
}

.champion_info_title::after{
  width: 30vw;
}

.champion_skin_title::after,
.champion_skin_title::before{
  width: 5vw;
}

.champion_skins_title::after,
.champion_skins_title::before{
  width: 30vw;
}

.champion_skins_title {
  font-size: 4em;
}

.skin_container{
  margin-top: 10vh;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.skin_image img{
  width: 100vw;
  height: 100vh;
}

.skin_video_container{
  text-align: center;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  bottom: 100vh;
  z-index: 1;
}

.skin_video_container label{
  position: relative;
  top: 5vh;
}

.skin_video_container small{
  color: rgb(133, 196, 252);
  position: relative;
  right: 5vw;
  top: 5vh;
  float: right;
  font-size: 3em;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}

.skin_video_container small:hover{
  font-size: 3.5em;
  text-shadow: 0 0 5px rgba(60, 127, 185, 0.8);
}

.skin_video{
  border: 1px solid white;
  border-radius: 20px;
  height: 80vh;
  width: 80vw;
  top: 8vh;
  position: relative;
  margin: 0 auto;
}

.skin_btn{
  width: 10vw;
  height: 4vh;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
  border-color: rgb(0, 132, 248);
  border-radius: 5px;
  color: rgb(133, 196, 252);
  font-family: Times, Times New Roman, serif;
  font-size: 1.5em;
  transition: ease-in-out 0.5s;
}

.skin_btn:hover {
  box-shadow: 0 0 9px rgba(103, 182, 252, 0.8);
  text-shadow: 0 0 5px rgba(28, 142, 241, 0.6);
  width: 12vw;
}

.ability{
  margin: 3vh 0;
  border-bottom: 0.5px solid white ;
}

.ability:last-child{
  border: none;
}

.champion_spotlight{
  position: relative;
  margin-top: 20vh
}

/* end champion info page */

/* Summoner page */

/* .alert_message{
  background-color: red;
  border-radius: 10px;
  width: 80vw;
  height: 4vh;
  text-align: center;
  margin: 0 auto;
  color: black;
} */

.summoner_main_container{
  position: relative;
  top: -2vh;
  width: 100vw;
}

.summoner_info_container{
  border: 1px solid white;
  border-radius: 10px;
  width: 90vw;
  height: 90vh;
  margin: 0 auto;
  margin-bottom: 5vh;
  background-color: rgba(3, 3, 3, 0.85);
}

.profile_container , .match_container{
  position: relative;
  border: 1px solid white;
  border-radius: 10px;
  height: 80vh;
  margin: 5vh 0 0 3vh;
}

.profile_container{
  width: 20vw;
  overflow: hidden;
}

.match_container{
  width: 65vw;
  overflow: auto;
}

.summoner_info_item{
  display: inline-block;
}
/* Summoner search bar */

.summoner_search_bar_container {
  position: relative;
  width: 43vw;
  margin: 0 auto;
  top: 2vh;
}

.search_bar_item {
  display: inline-block;
  margin: 0 1vw;
}

.search_bar{
  width: 30vw;
  text-align: center;
}

.btn{
  background-color: white;
  width: 5vw;
  font-family: Times, Times New Roman, serif;
  font-size: 0.8vw;
  transition: ease-in-out 0.2s;
}

.btn:hover{
  width: 5.5vw;
}

/* summoner profile */

.summoner_header{
  position: relative;
  height: 24vh;
  width: 18vw;
  top: 2vh;
  overflow: hidden;
  border-bottom: 1px solid white ;
  margin: 0 auto;
  text-align: center;
  font-family: Times, Times New Roman, serif;
}

.summoner_header img{
  height: 14vh;
  width: 8vw;
  position: relative;
  border-radius: 10px;
}

.add_to_profile_btn{
  color: white;
  background-color: rgba(139, 248, 139,0.6);
  width: 10vw;
  height: 3vh;
  font-size: 2vh;
  font-family: Times, Times New Roman, serif;
  border-radius: 7px;
}

.add_to_profile_btn:hover{
  background-color: rgba(139, 248, 139,0.8);
}

.add_to_profile_button{
  position: relative;
  width: 10vw;
  margin: 0 auto;
  top: 1vh;
}

.summoner_name {
  position: relative;
  top: -0.3vh;
}

.summoner_header .summoner_name h1{
  font-size: 3.5vh;
  font-family: Times, Times New Roman, serif;
}

.summoner_header .summoner_level{
  position: relative;
  border: 1px solid gold;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 4vw;
  height: 2vh;
  margin: 0 auto;
  top: -1vh
}

.summoner_header .summoner_level label {
  font-size: 2vh;
}

.summoner_ranks{
  margin-top: 5vh;
  text-align: center;
}

.summoner_ranks h4 {
  font-family: Times, Times New Roman, serif;
  font-size: 1vw;
}

.summoner_ranks img {
  width: 13vw;
  height: 27vh;
}

.top_champions{
  position: relative;
  top: 4vh;
  margin: 0 auto;
  height: 40vh;
  width: 50vw;
}

.top_champion_item{
  font-family: Times, Times New Roman, serif;
  position: relative;
  border: 1px solid gold;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  display: inline-block;
  width: 10vw;
  height: 31vh;
  margin: 2vh;
  text-align: center;
  cursor: pointer;
}

.champion_level_banner {
  position: relative;
  top: -1.8vh;
  width: 3vw;
  height: 5vh;
  /* border: 1px solid white; */
  overflow: hidden;
}

.champion_level_banner img{
  position: relative;
  top: -9vh;
  left: -2.5vw;
}

.summoner_champion_image{
  position: relative;
  border: 0.5px solid white;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.7);
  top: -2vh;
  width: 8vw;
  height: 2vh;
  margin: 0 auto;
}

.summoner_champion_image label{
  position: relative;
  float: right;
  right: 2vw;
}

.top_champion_item:hover{
  bottom: 1vh;
  box-shadow: 0 0 9px rgba(255, 255, 255, 0.8);
}

.top_champion_item img {
  width: 8vw;
  height: 16vh;
}

.top_champion_item label{
  font-size: 0.8vw;
}

.summoner_champion_label {
  /* border: 1px solid white; */
  position: relative;
  height: 2vh;
  top: -1vh
}
/*-------------------------------------------
Champions page
--------------------------------------------*/
#champions-container{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  background-attachment: fixed;
  min-height: 100vh;
  width: 100vw;
  top: 0px;
  /* left: 22px; wtf why do I need this */
}

#champions-card-container {
  width: calc(100vw - 330px);
  margin: 30px 30px;
  position: relative;
  left: 300px;
}



.champion-card {
  position:relative;
  height:350px;
  width:400px;
  /* margin:0 auto; */
  /* overflow: auto; */
}

.champion-card img.profile-pic {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  /* not sure if these 3 are necessary */
  -webkit-transition: opacity 300ms ease-in-out; 
  -moz-transition: opacity 300ms ease-in-out;
  -o-transition: opacity 300ms ease-in-out;
  /* this one seems necessary */
  transition: opacity 300ms ease-in-out;
}

.champion-card div.champion-stats {
  /* position: absolute; */
  z-index: 2;
  margin: -10px;
  padding: 10px;
  height: 345px;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transition: opacity 300ms ease-in-out;
  -moz-transition: opacity 300ms ease-in-out;
  -o-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
  opacity: 0%;
}

.champion-card div.champion-stats:hover {
  opacity: 100%;
}

.champion-card div.role-icons {
  text-align: center;
  justify-content: center;
  display: flex;
  /* z-index: -1; */
}

.champion-card .champion-name-title {
  position: flex;
  z-index: 0;
}

.champion-card h1.champion-name {
  font-weight: bold;
  position: absolute;
  top: 277px;
  margin: 5px;
  z-index: 0;
}

.champion-card h5.champion-title {
  font-weight: bold;
  position: absolute;
  top: 315px;
  margin: 5px;
  z-index: 0;
}

#champion-search-bar-container {
  /* background-color: rgba(0, 0, 0, 0.8); */
  background-color: rgba(199, 157, 81, 0.8);
  border-right: solid;
  border-color: white;
  border-width: 2px;
  position: fixed;
  left: 0px;
  top: 56px;
  width: 250px;
  height: 100vh;
  padding: 10px;
}

.sort-filter-part {
  margin: 0px 0px 30px;
  text-align: center;
}

.sort-filter-part h3 {
  font-size: 16px;
  margin: 0px 0px;
}

.sort-filter-option {
  font-weight: bold;
  border-style: none;
  margin: 2px;
  width: 100%;
  color: rgb(51, 51, 51);
  /* background-color: rgb(236, 176, 25); */
  background-color: rgba(0,0,0,0);
}

.sort-filter-option.selected {
  color: rgb(255, 255, 255);
  background: rgb(49,110,142);
  background: radial-gradient(circle, rgb(49, 137, 185) 30%, rgb(83, 200, 204) 50%, rgba(0,212,255,0) 90%);
  /* background-color: rgb(48, 172, 230); */
  /* background-color: rgba(100,0,0,0); */
}





/* ChampionStatsBar */
.stat-container {
  display: flex;
  flex-wrap: nowrap;
  margin: 5px;
}

.progress2 {
  height: 7px;
  top: -5px;
}













/* ------------------------
default react garbage below 
-------------------------*/


/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */