
.App {
  color: white;
  background-color: black;
  height: 100%;
  margin: 0px;
}

/* Login and Signup styling */
.login_container {
  color: black;
  background-color: white;
  width: 80vw;
  height: 60vh;
  margin: 0 auto;
  text-align: center;
}

.login_container button{
  width: 20vw;
  margin: 1vh 0;
  transition: ease-in-out 0.5s;
}

.login_container button:hover{
  width: 23vw;
}

.login_container input{
  text-align: center;
}

.login_content{
  width: 40vw;
  margin: 0 auto;
}

.login_content h3{
  float: left;
  margin-left: 1vw ;
}

/* Login and Signup end */

/* begin display message */
.message{
  position: relative;
  width: 80vw;
  height: 5vh;
  margin: 0 auto;
  text-align: center;
}

.fade {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1; 
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation { 
  0% { 
    opacity: 0; 
  } 
  50% {
    opacity: 1;
  }
  100% { 
    opacity: 0; 
  } 
}

/* end display message */




.champion-card {
  position:relative;
  height:350px;
  width:400px;
  /* margin:0 auto; */
  /* overflow: auto; */
}

.champion-card div.role-icons {
  text-align: center;
  justify-content: center;
  display: flex;
  /* z-index: -1; */
}

.champion-card div.stats {
  margin: 5px;  
  font-weight: bold;
}

.champion-card img.profile-pic {
  position: absolute;
  top: 0;
  left: 0;
  /* not sure if these 3 are necessary */
  -webkit-transition: opacity 300ms ease-in-out; 
  -moz-transition: opacity 300ms ease-in-out;
  -o-transition: opacity 300ms ease-in-out;
  /* this one seems necessary */
  transition: opacity 300ms ease-in-out;
  z-index: 1;
}

.champion-card img.profile-pic:hover {
  opacity:25%;
  /* z-index: 0; */
}

.champion-card h3.champion-name {
  font-weight: bold;
  position: absolute;
  top: 280px;
  margin: 5px;
}












/* default react garbage below */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */