
.App {
  color: white;
  background-color: black;
  height: 100%;
  margin: 0px;
}

/* Login and Signup styling */
.login_container {
  color: black;
  background-color: white;
  width: 80vw;
  height: 60vh;
  margin: 0 auto;
  text-align: center;
}

.login_container button{
  width: 20vw;
  margin: 1vh 0;
  transition: ease-in-out 0.5s;
}

.login_container button:hover{
  width: 23vw;
}

.login_container input{
  text-align: center;
}

.login_content{
  width: 40vw;
  margin: 0 auto;
}

.login_content h3{
  float: left;
  margin-left: 1vw ;
}

/* Login and Signup end */

/* begin display message */
.message{
  position: relative;
  width: 80vw;
  height: 5vh;
  margin: 0 auto;
  text-align: center;
}

.fade {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1; 
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation { 
  0% { 
    opacity: 0; 
  } 
  50% {
    opacity: 1;
  }
  100% { 
    opacity: 0; 
  } 
}

/* end display message */


/* start champion info page */

/* header */
.champion_header{
  margin: 0 auto;
  text-align: center;
}

.champion_header img {
  width: 80%;
  height: 80%;
}

.champion_info{
  position: relative;
  top: -20vh;
  background-color: rgba(0, 0, 0, 0.3);
}

.champion_info h3{
  position: relative;
  font-size: 3vh;
  word-spacing: 7px;
  font-family: Times, Times New Roman, serif;
  margin-bottom: 7vh;
}

.champion_info .champion_name {
  font-size: 5vw;
  position: relative;
  font-family: Blippo, fantasy;
}

.champion_info .champion_name::before,
.champion_info .champion_name::after {
    display: inline-block;
    content: "";
    border-top: .2rem solid white;
    margin: 0 2rem;
    transform: translateY(-1rem);
    width: 22vw
}

.champion_info .row{
  width: 70vw;
}

.champion_info .row .col{
  position: relative;
  top: 2vh
}

.item_col{
  display: inline-block;
  margin: 0 2vw;
}

.item_col label.info{
  font-size: 2em;
  font-family: Times, Times New Roman, serif;
  float: left;
  margin-bottom: 12px;
}

.item_col label.info span{
  font-size: 1.5em;
}

.champion_blurd{
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  font-size: 18px;
  border-left: 0.2px solid white;
}

/* end header */

/* body */
.champion_body{
  width: 95vw;
  margin: 0 auto;
  font-family: Times, Times New Roman, serif;
  font-size: 20px;
}

.champion_info_container{
  margin-bottom: 5vh;
}

.champion_info_container p{
  margin-left: 5vw;
}

.champion_info_container label{
  margin: 0 3vw 2vh 3vw;
  padding: 3px;
  border-bottom: 1px solid white;
}


.row{
  width: 90vw;
  margin: 0 auto;
}

.champion_ability_title, .champion_spotlight_title , .champion_info_title , .champion_skins_title{
  font-size: 4vh;
  position: relative;
  left: 2vw;
  font-family: Times, Times New Roman, serif;
}

.champion_skin_title{
  font-size: 6vh;
  position: relative;
  left: 2vw;
  font-family: Blippo, fantasy;
}

.champion_ability_title::before,
.champion_spotlight_title::before,
.champion_info_title::before,
.champion_skin_title::before,
.champion_skin_title::after,
.champion_skins_title::before,
.champion_skins_title::after,
.champion_info_title::after,
.champion_spotlight_title::after,
.champion_ability_title::after {
    display: inline-block;
    content: "";
    border-top: .1rem solid white;
    width: 4rem;
    margin: 0 1rem;
    transform: translateY(-1rem);
}

.champion_ability_title::after{
  width: 16vw;
}

.champion_ability_title::before {
  width: 2vw;
}

.champion_spotlight_title::before{
  width: 13vw;
}

.champion_spotlight_title::after{
  width: 2vw;
}

.champion_info_title::before{
  width: 3vw;
}

.champion_info_title::after{
  width: 30vw;
}

.champion_skin_title::after,
.champion_skin_title::before{
  width: 5vw;
}

.champion_skins_title::after,
.champion_skins_title::before{
  width: 30vw;
}

.champion_skins_title {
  font-size: 4em;
}

.skin_container{
  margin-top: 10vh;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.skin_image img{
  width: 100vw;
  height: 100vh;
}

.skin_video_container{
  text-align: center;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  bottom: 100vh;
  z-index: 1;
}

.skin_video_container label{
  position: relative;
  top: 5vh;
}

.skin_video_container small{
  color: rgb(133, 196, 252);
  position: relative;
  right: 5vw;
  top: 5vh;
  float: right;
  font-size: 3em;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}

.skin_video_container small:hover{
  font-size: 3.5em;
  text-shadow: 0 0 5px rgba(60, 127, 185, 0.8);
}

.skin_video{
  border: 1px solid white;
  border-radius: 20px;
  height: 80vh;
  width: 80vw;
  top: 8vh;
  position: relative;
  margin: 0 auto;
}

.skin_btn{
  width: 10vw;
  height: 4vh;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
  border-color: rgb(0, 132, 248);
  border-radius: 5px;
  color: rgb(133, 196, 252);
  font-family: Times, Times New Roman, serif;
  font-size: 1.5em;
  transition: ease-in-out 0.5s;
}

.skin_btn:hover {
  box-shadow: 0 0 9px rgba(103, 182, 252, 0.8);
  text-shadow: 0 0 5px rgba(28, 142, 241, 0.6);
  width: 12vw;
}

.ability{
  margin: 3vh 0;
  border-bottom: 0.5px solid white ;
}

.ability:last-child{
  border: none;
}

.champion_spotlight{
  position: relative;
  margin-top: 20vh
}



/*-------------------------------------------
Champions page
--------------------------------------------*/
#search-bar {

}

.champion-card {
  position:relative;
  height:350px;
  width:400px;
  /* margin:0 auto; */
  /* overflow: auto; */
}

.champion-card div.role-icons {
  text-align: center;
  justify-content: center;
  display: flex;
  /* z-index: -1; */
}

.champion-card div.stats {
  margin: 5px;  
  font-weight: bold;
}

.champion-card img.profile-pic {
  position: absolute;
  top: 0;
  left: 0;
  /* not sure if these 3 are necessary */
  -webkit-transition: opacity 300ms ease-in-out; 
  -moz-transition: opacity 300ms ease-in-out;
  -o-transition: opacity 300ms ease-in-out;
  /* this one seems necessary */
  transition: opacity 300ms ease-in-out;
  z-index: 1;
}

.champion-card img.profile-pic:hover {
  opacity:25%;
  /* z-index: 0; */
}

.champion-card h1.champion-name {
  font-weight: bold;
  position: absolute;
  top: 277px;
  margin: 5px;
}

.champion-card h5.champion-title {
  font-weight: bold;
  position: absolute;
  top: 315px;
  margin: 5px;
}

.stat-container {
  display: flex;
  flex-wrap: nowrap;
  margin: 5px;
}

.progress2 {
  height: 7px;
  top: -5px;
}













/* ------------------------
default react garbage below 
-------------------------*/


/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */